@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Administracja";
}

@section styles{
    <link href="~/lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<h2>Lista użytkowników</h2>

<table class="table js-admin-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="Edit">Edytuj</a>  <b>|</b>
                    <a class="text-danger" asp-controller="Admin" asp-action="Delete">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/dataTableTranslation.js"></script>
    <script>
        $(document).ready(function () {
            var table = DataTableWithTranslation('.js-admin-table');
        });
    </script>>
}